body{background: #09063b

}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* background: red;     */
    margin-left: 20px;
    margin-right: 20px;

}
.first__element h2{
    color: #ff702a;
}
.last__elements{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    color: #fff;
}
.jump{
display: flex;
/* background: red; */
justify-content: center;
gap: 80px;
margin: 0 70 px;
margin-bottom: 70px;
}
.jump__title{
flex-direction: column;
justify-content: center;
}
.jump__title h1{
    color: #ff702a;
    font-size: 75px;
}
.jump__title h2{
    font-size: 65px;
    color: #fff;
}
.combo img{
    height:450x ;
    width: 450px;
    /* background-color: blue; */
}
.jump__title button{
    font-size: 40px;
    color: #fff;
    background-color: #ff702a;
}
.about{
    display: flex;
    /* background: red; */
    justify-content: center;
    align-items: center;
    gap: 80px;
   }
.about__img img{
        height:450x ;
        width: 450px;
        /* background: blue    ; */
}

.jump__about{
    flex-direction: column;
    justify-content: center;
    /* background: blue; */

   
}
.jump__about h5{
        color: #ff702a;
        font-size: 25px;   
}
.jump__about h6{
        font-size: 25px;
        color: #fff;   
}
.jump__about h2{
        font-size: 65px;
        color: #fff;
}
.jump__about button{
        font-size: 40px;
        color: #fff;
        background-color: #ff702a;   
}
.food__menu{
    margin-top: 80px;
    margin-bottom: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: red; */
}
.food__menu h6{
    color: #ff702a;
    font-size: 25px;   
}
.food__menu h2{
    font-size: 65px;
    color: #fff;
}
.food__menu__items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    /* background: green; */
}

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: violet; */
}
.services h5{
    color: #ff702a;
    font-size: 25px;   
}
.services h2{
    font-size: 65px;
    color: #fff;
}
.domicilios{
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 50px;
    /* background: green; */
    margin: 0px;
}
.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: blue; */
 
}
.options :{
   
    width: 85;
    height: 50;
    /* background: red; */
}
.services h6{
    font-size: 15PX;
    color: #fff;
}

.slogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   border: solid var(--black); 
 background: red;
 margin: 80px 60px 80px 60px;
 gap: 50px;
 background-color: #fff;
 padding:90px;
}
.slogan h2{
    text-align: center;
}
.slogan button{
    font-size: 40px;
    color: #fff;
    background-color: #ff702a;   
}
.footer
{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 color: #fff;
}
.footer__item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.footer h2{
    color: #ff702a;
    font-size: 50px;
    
}


